<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Productos</title>

    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div id="app">
            <div class="row">
                <div class="col">::.. SISTEMA DE FACTURACION .::</div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <div class="row p-1">
                        <div class="col col-md-2">CODIGO</div>
                        <div class="col col-md-3">
                            <input v-model="producto.codigo" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">NOMBRE</div>
                        <div class="col col-md-5">
                            <input v-model="producto.nombre" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">MARCA</div>
                        <div class="col col-md-5">
                            <input v-model="producto.marca" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">PRESENTACION</div>
                        <div class="col col-md-3">
                            <input v-model="producto.presentacion" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">PRECIO</div>
                        <div class="col col-md-3">
                            <input v-model="producto.precio" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col">
                            <button @click.prevent.default="guardarProducto" class="btn btn-success">GUARDAR</button>
                            <button @click.prevent.default="nuevoProducto" class="btn btn-warning">NUEVO</button>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>CODIGO</th>
                                <th>NOMBRE</th>
                                <th>MARCA</th>
                                <th>PRESENTACION</th>
                                <th>PRECIO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="producto in productos">
                                <td>{{producto.codigo}}</td>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.marca}}</td>
                                <td>{{producto.presentacion}}</td>
                                <td>{{producto.precio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data:{
                productos:[],
                producto:{
                    codigo:'',
                    nombre:'',
                    marca:'',
                    presentacion:'',
                    precio:0.0
                }
            },
            methods:{
                guardarProducto(){
                    //almacenamiento del objeto productos en localStorage
                    this.productos.push(this.producto);
                    localStorage.setItem('productos', JSON.stringify(this.productos));
                },
                listarProductos(){
                    this.productos = JSON.parse(localStorage.getItem('productos') || "[]");
                }
            },
            created(){
                this.listarProductos(); 
            }
        })
    </script>
</body>
</html>